body {
    font-family: Arial;
    margin: 0pt;
}

.container {
    display: grid;
    grid-gap: 5px;
    height: 100vh;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    /*Valores posibles: justify-items: start end center stretch;  alinea horizontalmente*/
    justify-items: center;
    /*Valores posibles: align-items: start end center stretch ainea verticalmente*/
    align-items: start;
}

.item {
    background: rgb(174, 221, 236);
    padding: 10px;
    border: solid 2px black;
}

.item:nth-of-type(5) {
    align-self: start;
    justify-self: start;
}