body {
    font-family: Arial;
    margin: 0pt;
}

.container {
    display: grid;
    grid-template: 100px 1fr 130px / 200px 1fr;
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas:    "header header"
                            "left contenido"
                            "footer footer";
}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.contenido {
    grid-area: contenido;
}

.footer {
    grid-area: footer;
}

.item {
    background: rgb(174, 221, 236);
    padding: 10px;
    border: solid 2px red;
}
